/* font link */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
/* base style */
body{
    font-family: 'Poppins', sans-serif;
}
.products-heading{
    margin-top: 87px;
    margin-left: 120px;
    margin-bottom:146px;
    font-size: 24px;
    color: #3A3A3A;
}
.container{
    display: flex;
}
/* top section style */
.influencer{
    width: 582px;
    height: 269px;
    margin-left: 113px;
}
h1{
    width: 582px;
    color: #3A3A3A;
    font-size:52px;
}
p{
    font-size: 16px;
    color: #3A3A3A;
}
button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background: #E02C6D;
}
.button-name{
    font-size: 16px;
    color: #FFFFFF;
}
.fa-arrow-right{
    margin-left:10px;
}
.camera{
    width: 440px;
    height: 414px;

}
 /* poplur collection style */
    /* .collection{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:1em; */

    }
 .collection-title{
    width: 262px;
    height: 70px;
    font-weight: 600;
    font-size: 28px;
    margin-left:450px;
    color: #3A3A3A;
 }
.containers{
    width: 329px;
    height: 476px;
    
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.picture{
    width: 300px;
    height: 256px;
    margin-top:17px;
    margin-left: 15px;
    border-radius: 5px;
}
.collection-author{
    font-weight: 500;
    font-size: 28px;
    margin-left:14px;
    color: #18191F;
}
.prise{
    font-size: 24px;
    margin-left:14px;
    color: rgba(0, 0, 0, 0.87);
}
.rating{
    margin-left: 14px;
}
.fa-star{
    font-size:16px;
}
.fa-star.fild{
    color:#FFC014;  
}
.discription{
    font-size: 14px;
    color: #787885;
}
